---
layout: default
featured_image: /assets/images/CoCoChiangMaiforDigitalNomads.png
onepage: true

services:
  - title: Comfort
    icon: /assets/svgs/comfort.svg
    desc: Settling in starts with finding a place to live. We offer stylish, comfortable, serviced apartments and move-in-ready rooms perfect for digital nomads.
    bg: /assets/images/bedroom.png
  - title: Convenience
    icon: /assets/svgs/convenience.svg
    desc: From the simple stuff like getting a Simcard, renting a motorbike and arranging meal deliveries to the trickier things like getting a visa, we're here to help.
    bg: /assets/images/bike.png
  - title: Community
    icon: /assets/svgs/hub.svg
    desc: Connect with talent and find your tribe. From coworking days and masterminds to parties and excursions, our events bring together the city's best.
    bg: /assets/images/community.png

rooms:
  - path: _rooms/51hometel-one-bedroom.md
  - path: _rooms/burisiri-hotel-deluxe-room.md
  - path: _rooms/oldtale-coliving.md
    style: wide
  - path: _rooms/51hometel-studio.md
  - path: _rooms/burisiri-hotel-superior-room.md

members:
  - avatar: /assets/images/@stock/member-7.png
    name: Lily
    position: Founder
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "As the founder and CEO of Wrap, and as an interactions and visual design specialist, she knows that user- centred and easy-to-use design is an essential way to distinguish a good product and an awesome product."

photo_slides:
  - /assets/images/rooms/oldtale/oldtale12.jpg
  - /assets/images/rooms/51hometel/51hometel8.jpg
  - /assets/images/rooms/burisiri/burisiri4.jpg
  - /assets/images/rooms/oldtale/oldtale7.jpg
  - /assets/images/rooms/51hometel/51hometel10.jpg
  - /assets/images/rooms/oldtale/oldtale5.jpg
  - /assets/images/rooms/51hometel/51hometel6.jpg

testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Designer at Huglab'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Designer at Huglab'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Designer at Huglab'

clients:
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png

  - /assets/images/@stock/client-5.png
  - /assets/images/@stock/client-6.png
  - /assets/images/@stock/client-7.png
  - /assets/images/@stock/client-2.png

  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-6.png
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/city-header.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title-hero">Come home to Chiang Mai</p>
      <h1 class='thin' id="to-be-update" style="margin-bottom: 2%;">
         <span class="fir">Coliving</span><br/>
         <span class="sec">Coworking</span><br/>
         <span class="thir">Community</span>
      </h1>
      <h2 class='thin text-white'>
       CoCo is curated specifically for digital nomads. Find and rent an apartment with us and we'll plug you into the services and amenities you need to hit the ground running. Members get access to our friendly concierge service as well as our awesome community.
       {% assign nav_obj = site.data.nav | where:'section_id','rooms' | first %}
       <a href='{{ "" | append:nav_obj.path | relative_url }}'>To join CoCo, book a room with us!</a>
      </h2>
    </div>
  </div>
</div>

<a id='about'></a>
<div class='full grid-center'>
  <div class="col-8_md-9_sm-10">
    <div class="section-title">
      <p class="small-title">Your New Community</p>
      <h2>
        Welcome to Chiang Mai
      </h2>
      <p class="big-size">You're here to build your business and create the life of your dreams. That's the hard part. Finding a place to live, connecting to great wifi, and organizing your day to day? That should be easy - and we're here to help.
      </p>
    </div>
    <div class="grid-center">
      <div style="max-width:200px;">
        <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="">
      </div>
    </div>
  </div>

</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/cafe.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>Live like a local</h2>
    </div>
    <p class="light">Why book through us? 'Cause we're <i>actually</i> local. That's not just important for finding the best cafes or negotiating good prices - lots of sites do that. What working with a local company means is when you book through us, we're here and we've got your back.</p>
    <p class="light">Book a room with us to become a member and get access to benefits and perks along with our top-notch concierge.</p>
    <div class="two spacing"></div>
    <a href="#rooms" class="button small">See Our Spaces</a>
    <div class="three spacing"></div>
  </div>
</div>


<a id='services'></a>
<div class='full'>
  <div class='row'>
    <div class='large-10 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Book Rooms, Services & Experiences</p>
        <h2>We Make Chiang Mai Easy</h2>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>


<div class="full no-padding">
  <div class="slide-button">
    <a href="#rooms" class="button small">See Our Spaces</a>
  </div>
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.photo_slides %}
        <div class='slide'>
          <div class="slide-container" style="background-image: url({{ image | relative_url }})">
            <!-- <img alt="" src="{{ image | relative_url }}" /> -->
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<a id='rooms'></a>
<div class='full'>
  <div class='row'>
    <div class='large-10 columns large-centered'>
      {% include section-title.html small_title="Enjoy a Sneak Peak at Our Properties! Coming November 2019" title="Come Home to Chiang Mai" %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-rooms">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.rooms %}

        {% assign room = site.rooms | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a>
          <!-- <a href='{{ room.url | relative_url }}'> -->
            <img width="{{width}}" height="{{height}}" alt="" src="{{ room.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <!-- <h3>{{ room.title | downcase | capitalize }}</h3> -->
                <h3>{{ room.categories | join:" - " | escape }}</h3>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>
<div class='full no-padding' style="background-color: #f18f01;">
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Tell us about your perfect room!</h3>
      <p class="text-white">
        We're getting ready to launch in November 2019 and finalizing the list of our partner properties. Have a preferred part of town or must-have amenities? Let us know and we'll let you know as soon as we have a room that fits your budget and needs!
      </p>
    </div>
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='https://forms.gle/XUNjmVwT7ZDQsTBU7' target="blank">Tell Us What You Want</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<!-- <a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Hello! This is us." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div> -->


<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-10 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="News and Resources for Chiang Mai Digital Nomads" %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
</div>

{% include socials.html %}

<!-- <div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our clients say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="we are happy" title="Featured clients" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="four spacing"></div> -->
<a id='contact'></a>
{% include contact-form.html %}
