<div class='full dark'>
  <!-- <div class='row'> -->
    {% include section-title.html small_title="contact" title="Get in touch with us!" %}
    <div class="grid-center" style="text-align: center;">

      <div class="col-6_md-8_sm-10">
        <div class='form'>
            <form id='contact_form' class='dark' method='POST'>
              <p id='thanks'>
                Thanks for contacting us, we'll be in touch soon.
              </p>
              <div>
                <input class='required' name='name' placeholder='NAME' type='text'>
                <input class='required email' name='email' placeholder='EMAIL' type='text'>
                <input class='required' name='subject' placeholder='SUBJECT' type='text'>
                <textarea class='required' name='message' placeholder='MESSAGE'></textarea>
                <input name="recipient" type="hidden" value="{{ site.email }}" />
                <div class='spacing'></div>
                <input class='button white' type='submit'>
              </div>
            </form>
        </div>
      </div>

    </div>
</div>
