<div class='full dark'>
  <!-- <div class='row'> -->
    {% include section-title.html small_title="contact" title="Get in touch with us!" %}
    <div class="grid-center" style="text-align: center;">

      <!-- <div class="col-6_md-8_sm-10">
        <div class='form'>
            <form id='contact_form' class='dark' action="https://formspree.io/coco@startupchiangmai.com" method='POST'>
              <p id='thanks'>
                Thanks for contacting us, we'll be in touch soon.
              </p>
              <div>
                <input class='required' name='name' placeholder='NAME' type='text'>
                <input class='required email' name='email' placeholder='EMAIL' type='text'>
                <input class='required' name='subject' placeholder='SUBJECT' type='text'>
                <textarea class='required' name='message' placeholder='MESSAGE'></textarea>
                <input name="recipient" type="hidden" value="coco@startupchiangmai.com" />
                <div class='spacing'></div>
                <input class='button white' type='submit'>
              </div>
            </form>
        </div>
      </div> -->

      <div class="col-6_md-8_sm-10">
        <form method="post" action="https://formspree.io/coco@startupchiangmai.com" id="contact-form">
          <input type="hidden" name="_next" value="/" />
          <p id='thanks'>
            Thanks for contacting us, we'll be in touch soon.
          </p>
          <div>
            <input type="text" name="email" placeholder="Your email address...">
          </div>
          <div>
            <input type="text" name="name" placeholder="Your name...">
          </div>
          <div>
            <input class='required' name='subject' placeholder='Subject: What are you contacting us about?' type='text'>
          </div>
          <div>
            <textarea name="message" placeholder="Your message..."></textarea>
          </div>
          <input type="hidden" name="_subject" value="{{ page.contact_settings.email_subject }}" />
          <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">
          <input class='button white' type='submit' style="width: 100%;">
        </form>
      </div>


    </div>
</div>
