<div class='full parallax socials' style="background-image: url({{ "/assets/images/wat.jpg" | relative_url }})">
  <div class='two spacing'></div>
  <div class="grid-center">
    <div class='col-6_md-10_sm-12 grid-middle-spaceAround'>
      <div class=''>
        <div class='big-social'>
          <a href='https://facebook.com/joincococnx'>
            <i class='fa fa-facebook'></i>
          </a>
          <h4>Facebook</h4>
          <p>Connect us with us for updates</p>
        </div>
        <div class='two spacing'></div>
      </div>
      <div class=''>
        <div class='big-social'>
          <a href='https://www.instagram.com/cococnx/'>
            <i class='fa fa-instagram'></i>
          </a>
          <h4>Instagram</h4>
          <p>Follow us for inspiration</p>
        </div>
        <div class='two spacing'></div>
      </div>
      <!-- <div class='medium-3 columns'>
        <div class='big-social'>
          <a href='http://dribbble.com'>
            <i class='fa fa-dribbble'></i>
          </a>
          <h4>Dribbble</h4>
          <p>Share some latest works</p>
        </div>
        <div class='two spacing'></div>
      </div>
      <div class='medium-3 columns'>
        <div class='big-social'>
          <a href='http://tumblr.com'>
            <i class='fa fa-tumblr'></i>
          </a>
          <h4>Tumblr</h4>
          <p>View some new trends</p>
        </div>
        <div class='two spacing'></div>
      </div> -->
    </div>
  </div>
  <div class='two spacing'></div>
</div>
