<div class="bg-pale margin-all-s margin-top-xs pad-all-s text-center">
  <h3 class="text-blue">Why book with CoCo?</h3>
  <p class="text-dark margin-bottom-xs">Curated for nomads, our spaces come with all the amenities you need to settle in to a wonderful life in Chiang Mai. Book a room monthly or on short-term contract without the hassle of negotiating a lease. Our rates are all-inclusive and best of all, we make the billing easy and require no cash deposits.</p>
  <div class="grid-center-spaceAround">
    <div class="text-center col-1_md-3_sm-5">
      <img class="whycocoicon" src="/assets/svgs/wifi.svg" alt=""/>
      <h6 class="text-blue">Fast Wifi</h6>
    </div>
    <div class="text-center col-1_md-3_sm-5">
      <img class="whycocoicon" src="/assets/svgs/cowork.svg" alt=""/>
      <h6 class="text-blue">Coworking Onsite</h6>
    </div>
    <div class="text-center col-1_md-3_sm-5">
      <img class="whycocoicon" src="/assets/svgs/clean.svg" alt=""/>
      <h6 class="text-blue">Housekeeping & Laundry</h6>
    </div>
    <div class="text-center col-1_md-3_sm-5">
      <img class="whycocoicon" src="/assets/svgs/concierge.svg" alt=""/>
      <h6 class="text-blue">Concierge</h6>
    </div>
    <div class="text-center col-1_md-3_sm-5">
      <img class="whycocoicon" src="/assets/svgs/community3.svg" alt=""/>
      <h6 class="text-blue">Community</h6>
    </div>
    <div class="text-center col-1_md-3_sm-5">
      <img class="whycocoicon" src="/assets/svgs/pay.svg" alt=""/>
      <h6 class="text-blue">Pay Online</h6>
    </div>
    <div class="text-center col-1_md-3_sm-5">
      <img class="whycocoicon" src="/assets/svgs/contract.svg" alt=""/>
      <h6 class="text-blue">Flexible Lease</h6>
    </div>
  </div>
  <p class="text-dark pad-top-xs">
    Join the CoCo community! We maintain an active social calendar and members can join coworking days, social activities, trips and more - all designed to accommodate your unique lifestyle.
  </p>
</div>
