---
layout: default
---

<header class='bg-teal pad-bottom-xs blog-header'>
  {% include section-title.html small_title="The Nomad's Guide to Chiang Mai" title="CoCo Blog" %}
</header>

<div class='margin-top-xs pad-top-xs' style="position: relative; top: -14.5vh;">
  <div class='grid'>
    <div class='col-9_md-8_sm-12'>
      <div class="readable-section">
        {{ content }}
      </div>
    </div>
    <div class='col-3_md-4_sm-12 blog-sidebar' id='sidebar'>
      {% include sidebar-archives.html %}
      {% include sidebar-categories.html %}
      {% include sidebar-recent-posts.html %}
      {% include sidebar-tags.html %}
    </div>
  </div>
</div>
