---
layout: default
---
<section style="position: relative; top: -15.5vh; min-height: 80vh;">
  <div class="grid">
    <div class="col-6_md-12 pad-all-s" style="background:linear-gradient(rgba(107,209,198,0.8),rgba(0,110,144,0.8)),url({{page.featured_image}}); background-repeat: no-repeat; background-size: cover; background-position: center; overflow-y: hidden;">
      <div class="pad-top-s">
        {% assign small_title = page.categories | join:" - " %}
      </div>
      {% assign title = page.title | downcase | capitalize %}
      {% include section-title.html small_title=small_title title=title %}
    </div>
    <div class="col-6_md-12">
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in page.slides %}
            <div class='slide' style="margin: 0;">
              <img alt="" src="{{ slide | relative_url }}" />
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-orange grid-spaceAround text-center pad-all-xs" style="position: relative; top: -5vh; min-height: 20vh;">
    {% for highlights in page.highlights %}
      <div class="col-1_md-2_sm-5 pad-top-xs">
        <img class="highlight-icon" src="{{highlights.icon}}" alt="icon {{highlights.icon}}"/>
        <h4 class="text-white text-center">{{highlights.highlight}}</h4>
      </div>
    {% endfor %}
  </div>

</section>

<section class="readable-section" style="position: relative; top: -20vh;">

  <div class="pad-all-s pad-bottom-xs">
    <!-- <h3>{{ page.title }}</h3> -->
    <p>{{ page.description }}</p>
  </div>

  {% include whycoco.html %}

</section>

<section style="position: relative; top: -14.5vh; min-height: 80vh;">

  <div class="grid">
    <div class="pad-left-s col-12">
      <h3>Room Options</h3>
    </div>
    <div class="col-6_md-12 pad-all-s pad-top-xs">
      {% for room-options in page.room-options %}
      <div class="box-shadow margin-bottom-m">
        <div class="pad-all-s grid">
          <h3 class="col-6 text-blue">{{room-options.name}}</h3>
          <h5 class="col-6 text-right">{{room-options.price}} per month</h5>
          <p class="col-12">{{room-options.description}}</p>
          <ul>
            <li class="text-dark">Room type: {{room-options.room-type}}</li>
            <li class="text-dark">Size: {{room-options.size}}</li>
            <li class="text-dark">Bath: {{room-options.bath}}</li>
            <li class="text-dark">Bed: {{room-options.bed}}</li>
            <li class="text-dark">Kitchen: {{room-options.kitchen}}</li>
            <li class="text-dark">Workspace: {{room-options.workspace}}</li>
            <li class="text-dark">Aircon: In-room controller</li>
          </ul>
          <h6 class="col-12">Rates are inclusive of utilities and wifi.</h6>
        </div>
        <div class="room-options-image-container">
          <img src="{{room-options.room-option_image}}" alt="{{room-options.name}}"/>
          <!-- <div class='mod modBoxedSlider'>
            <div class='slides'>
              {% for slide in page.slides %}
                <div class='slide' style="margin: 0;">
                  <img alt="" src="{{ slide | relative_url }}" />
                </div>
              {% endfor %}
            </div>
          </div> -->
        </div>
      </div>

      {% endfor %}
    </div>

    <div class="col-6_md-12 pad-all-s pad-top-xs">
      <div class="request-box box-shadow">
        <div class="bg-blue">
          <h2 class="text-white text-center pad-top-s pad-all-xs">Check Availability</h2>
        </div>
        <div class="pad-all-s">
          <h6>Interested in booking a room? Send us your request and we'll respond by email within 48 hours to confirm availability and help you to complete your booking.</h6>
          <div>
            <form method="post" action="https://formspree.io/info@cococnx.com" id="contact-form">
              <input type="hidden" name="_next" value="/" />
              <!-- <p id='thanks'>
                Thanks for contacting us, we'll be in touch soon.
              </p> -->
              <div>
                <input class='required' name='subject' value='Booking Request for {{page.title}}' type='hidden'>
              </div>

              <div>
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Name">
              </div>
              <div>
                <label for="email">Email Address</label>
                <input type="text" name="email" placeholder="Email">
              </div>

              <div class="grid-spaceBetween">
                <div class="col-5_sm-7">
                  <label for="checkin">Check-in Date</label>
                  <input type="date" name="checkin">
                </div>
                <div class="col-5_sm-7">
                  <label for="date">Check-out Date</label>
                  <input type="date" name="checkout">
                </div>
              </div>

              <div>
                <label for="room">Room Type</label>
                {% for room-options in page.room-options %}
                  <input type="radio" name="room" value="{{room-options.name}}"> {{room-options.name}} ({{room-options.price per month}})<br>
                {% endfor %}
              </div>

              <div>
                <label for="message">Special Requests</label>
                <textarea name="message" placeholder="Mountain view, no stairs, etc..."></textarea>
              </div>
              <input type="hidden" name="_subject" value="{{ page.contact_settings.email_subject }}" />
              <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">
              <input class='button white' type='submit' style="width: 100%;">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="readable-section pad-top-s" style="position: relative; top: -20vh; min-height: 80vh;">

  <div class="pad-all-s">
    {% for neighborhood in page.neighborhood %}
    <h3>About the Neighborhood {{ page.neighborhood.name }}</h3>
    <p>{{ neighborhood.description }}</p>
    <div>
      {{ neighborhood.googlemapembed }}
    </div>  {% endfor %}
  </div>

</section>

{% include contact-form.html %}

{% include socials.html %}
